/* body, html {
    padding: 0;
    margin: 0;
} */


.header{
    text-align: right;
    background-color:lavenderblush;
    margin: 4em;
    padding-bottom: 5em;
}
.footer{
    text-align: center;
    background-color: blueviolet;
    border-top: 1px solid black;
    padding: 1em;
    color: azure;
}


.main-contents{
    background-color:lightpink;
    padding:10em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.footprint{
    padding: 12em;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 2em;
}